<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogoteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <!-- usando flask para buscar a pasta static_-->
</head>
<body>
<div class="container">

    {% with messages = get_flashed_messages() %} <!-- Statement with para poder usar as mensagens internamente  -->
    {% if messages %}
    <ul id="messages" class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="page-header">
        <h1>{{ titulo }}</h1> <!--diretiva para deixar o conteudo dinamico-->
    </div>

    {% block conteudo %}{% endblock %}

</div>


</body>
</html>